 body {
  	background-color:#24292f
 }

.logo {
	background-color: #24292f;
  	padding: 10px;
  	color: white;
  	text-align: center;
}

.footer {
	background-color: #1baad0;
	padding: 4px;
	color: black;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: blue;
}

.table-content {
	color: black;
}
.banner {
	background-color: #1baad0;
	padding: 4px;
	color: white;
	width: auto;
	text-align: center;
}

table {
	background: #d8cccc;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 20px;
	line-height: 24px;
	text-align: left;
	margin:auto;
	width: auto;
}	

th {
	background-color: #19a547;
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  	font-weight: bold;
	padding: 10px 15px;
	position: relative;
}
td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

tr {
	background: white
}

tr:nth-child(even){background-color: #f2f2f2}